
body {
font-family: georgia;
padding-left:20%;
padding-right:20%;
}

ul {
  display:block;
}


.details {
  font-size: 15px;
  color: black;
}

 div.everything {
padding: 30px 50px;
margin: 10px auto;
   width: 75%;
   border: 1px solid  grey;
   background: #F2F2F2;
 }
p {
font-size: 18px;
text-align: justify;
}

li {
  font-size: 18px;
  font-style: italic;
}
 img {
   display:block;
   width: 100%;
   margin:10px auto;
 }


@media only screen and (min-width: 600px) {

   img {
     width: 50%;
   }
   div.everything {
     margin:10px auto;
     width:70%;
     max-width: 850px;
     padding:20px;
     overflow: auto;
   }



}
